<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
    </div>
    
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="dashboard" class="sidebar-link">
                <i class="lni lni-pie-chart"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="adminProfile" class="sidebar-link">
                <i class="lni lni-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="userInfo" class="sidebar-link">
                <i class="lni lni-checkmark-circle"></i>
                <span>User Information</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="leaveRequests" class="sidebar-link">
                <i class="lni lni-add-files"></i>
                <span>Leave Requests</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-question-circle"></i>
                <span>Leave History</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="logout" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>