<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Application</title>
    <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .message {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="message">
            <h1>Welcome <%= name %> to Our Application</h1>
            <p>We are thrilled to have you on board. </p>
            <p> You're now able to access all the amazing features of our application.</p>
            <p>Head to the website and login using your new credentials.</p>
        </div>
        <p>If you have any questions, feel free to contact us</p>
        <h2>LMS Team</h2>
    </div>
</body>
</html>