<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
</head>
<body>
    <h1>Some error occurred on our end!</h1>
    <p>We're working on fixing this, sorry for the inconvenience!</p>
    
</body>
</html>